<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}|client details</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="/css/{{style}}">
    <style>

    </style>
</head>

<body>
    <div class="details-container">
        <h1>Client details</h1>
        <a class="home-link" href="/api">Home</a>
        <div class="client-card">
            <form class="close-form" action="/api/{{client.passportId}}/delete" method="POST">
                <input type="submit" value="X">
            </form>
            <div class="header-container">
                <h2>
                    {{client.fullName}}
                </h2>
                <img src="https://thispersondoesnotexist.com/image" width="200px" alt="bank client">
            </div>
            <p>
                ID:
                {{client.passportId}}
            </p>
            <p>Cash:
                {{client.cash}}
            </p>
            <p>Credit:
                {{client.credit}}
            </p>
            <p>Active status:
                {{client.isActive}}
            </p>
            <div class="links-container">
                <a href="/api/{{client.passportId}}/withdraw">Withdraw from client</a>
                <a href="/api/{{client.passportId}}/deposit">deposit to client</a>
                <a href="/api/{{client.passportId}}/updateCredit">update credit</a>
            </div>
        </div>
    </div>
</body>

</html>