<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/{{style}}">
    <style>

    </style>
</head>
<body>
    <header>
        <h1>Shmeckle bank</h1>
        <h2>Welcome Admin</h2>
    </header>
    <nav>
        <ul class="actions-list" style="">
            <li class="action-item"><a href="/api/add">add client</a></li>
            <li class="action-item"><a href="/api/transfer">transfer between clients</a></li>
            <li class="action-item"><a href="/api/filter">filter clients</a></li>
        </ul>
    </nav>
    <main>
        <h2>Clients</h2>
        <ul class="client-list">
            {{#each clients}}
             <a href="/api/{{../prefix}}{{passportId}}"><li class="client-item"> {{../prefix}}<p><span> ID:</span> <span> {{passportId}}</span></p> 
                                                                                              <p><span>Name:</span> <span> {{fullName}}</span></p> </li></a>
             {{/each}}
        </ul>
    </main>

    
</body>
</html>